*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
  background: rgb(50, 50, 50);
  color: rgb(240, 240, 240);
  font-size: 0.8rem;
}

.nav {
  padding: 0.25rem;
  background: crimson;
  text-align: left;
  width: 100%;
}

.mainContainer {
  width: 100%;
  background: rgb(50, 50, 50);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  z-index: 1;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}
.form__grid__row {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  border-bottom: 1px solid dimgray;
  cursor: pointer;
}
.form__grid__row:has(.form__grid__col--header) {
  cursor: default;
}
.form__grid__row > div:nth-child(1), .form__grid__row > div:nth-child(4), .form__grid__row > div:nth-child(5) {
  text-align: center;
}
.form__grid__col, .form__grid__col--header {
  padding: 0.5rem 0.25rem;
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
  justify-content: start;
  align-items: center;
}
.form__grid__col:nth-child(1), .form__grid__col--header:nth-child(1), .form__grid__col:nth-child(4), .form__grid__col--header:nth-child(4), .form__grid__col:nth-child(5), .form__grid__col--header:nth-child(5) {
  justify-content: center;
}
.form__grid__col--header {
  font-weight: bold;
  text-shadow: 2px 2px 0 rgb(25, 25, 25);
}
@media (min-width: 768px) {
  .form__grid__col, .form__grid__col--header {
    padding: 1rem 0.5rem;
  }
}
@media (min-width: 1024px) {
  .form__grid__col, .form__grid__col--header {
    padding: 1rem;
  }
}
.form__grid__col input[type=number], .form__grid__col--header input[type=number] {
  width: clamp(40px, 40px + 4vw, 80px);
  padding: 1rem;
  font: inherit;
  border: none;
  outline: none;
  text-align: center;
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
  box-shadow: 0 2px 0 0 rgb(248, 248, 248);
  background-color: rgb(248, 248, 248);
  color: rgb(50, 50, 50);
  font-weight: bold;
}
.form__grid__col input[type=number]::-webkit-outer-spin-button, .form__grid__col--header input[type=number]::-webkit-outer-spin-button, .form__grid__col input[type=number]::-webkit-inner-spin-button, .form__grid__col--header input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form__grid__col__qtyNumber {
  width: clamp(40px, 40px + 4vw, 80px);
  padding: 1rem;
}
.form__grid:has(+ form[disabled]) {
  pointer-events: none;
}
.form__send {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  line-height: 1;
}
.form__send input {
  width: 200px;
  padding: 1rem;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  border-bottom: 2px solid crimson;
  color: rgb(240, 240, 240);
  font-weight: bold;
  letter-spacing: 2px;
  background: crimson;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__send input::-moz-placeholder {
  color: rgb(240, 240, 240);
}
.form__send input::placeholder {
  color: rgb(240, 240, 240);
}
.form__send input[disabled] {
  pointer-events: none;
}
.form__send input.notValid {
  filter: grayscale(1);
}
.form__send button {
  width: 200px;
  border: none;
  outline: none;
  border-radius: 0;
  background: crimson;
  color: rgb(240, 240, 240);
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__send button:hover, .form__send button:focus-visible {
  outline: 2px solid rgb(240, 240, 240);
}
.form__send button:active {
  outline: 2px solid rgb(240, 240, 240);
  scale: 0.95;
}
.form__send button[disabled] {
  pointer-events: none;
}
.form__send button.notValid {
  filter: grayscale(1);
  pointer-events: none;
}

.selected {
  background: crimson;
}/*# sourceMappingURL=app.css.map */